.form-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5vh;
    padding-top: 10vh;
  }
  
  .field {
    margin-bottom: 3vh;
  }
  
  .field input {
    width: 60vw;
    height: 5vh;
    gap: 3vh;
    padding-left: 1vw;
  }
  
  .field input::placeholder {
    font-size: 18px;
    padding-left: 1vw;
  }
  
  .actions {
    margin-top: 5vh;
  }
  
  input[type="submit" i]  {
    padding: 1.5vh 28vw 1.5vh 29vw;
    font-size: 18px;
  }